<div class="col-md-3 mb-4">
  <div class="card text-center p-3">
    <%= image_tag avatar_url_for(candidate), class: "rounded-circle avatar-size" %>
    <h5 class="fw-bold"><%= candidate.full_name %></h5>
  </div>
</div>
