$backgroundBlueLight: #e9f7fd;
$backgroundDarkBlue: #34495e;
$backgroundFooter: #2c3e50;
$backgroundSidebar: #bed8ff;
$textGray: #7f8c8d;
$textDark: #333;
$textBlue: #2980b9;
$textDarkBlue: #020037;
$borderGray: #bdc3c7;
$borderGray2: #ecf0f1;
$borderGray3: #9b9b9b;
$btnBlue: #3498db;
$btnBlueHover: #2980b9;
$btnGreen: #27ae60;
$whiteColor: #fff;
