$backgroundBlueLight: #e9f7fd;
$backgroundDarkBlue: #34495e;
$backgroundFooter: #2c3e50;
$textGray: #7f8c8d;
$textDark: #333;
$borderGray: #bdc3c7;
$borderGray2: #ecf0f1;
$btnBlue: #3498db;
$btnBlueHover: #2980b9;
$btnGreen: #27ae60;
$whiteColor: #fff;
