<!-- app/views/layouts/_footer.html.erb -->
<footer class="footer">
  <div class="footer-section">
    <h5>Follow us</h5>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="footer-section">
    <h5>Jobs by Skills</h5>
    <ul>
      <li><a href="#">AI</a></li>
      <li><a href="#">Software Development</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h5>Jobs by Location</h5>
    <ul>
      <li><a href="#">Hanoi</a></li>
      <li><a href="#">Ho Chi Minh</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h5>Jobs by Setup</h5>
    <ul>
      <li><a href="#">Remote</a></li>
      <li><a href="#">On-site</a></li>
    </ul>
  </div>
</footer>
